extends layout

block header
  header#header
    a(href="/")
      h1 TrouveTonVelo.com

    a(href="/about")
      h3 About

    form#search
      input(type="text" value="Trouver une station...")#searchValue


