extends layout

block header
  header#header
    a(href="/")
      h1 TrouveTonVelo.com

    a(href="/about")
      h3 About

    form#search
      input(type="text" value="Trouver une station...")#searchValue


block main
  #map
    script
      //function google map

    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.API_GOOGLE_MAP}&callback=initMap)`
