<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<div class="container-fluid">
    <h1>Sommaire</h1>

    <p class="resume">Voici le sommaire de la documentation de l'API. Celle-ci se compose en 4 parties.</p>

    <div class="list col-12">
        <a href="/api/wiki/routes">Les routes</a>
        <a href="/api/wiki/controllers">Les controlleurs</a>
        <a href="/api/wiki/crons">Les crons</a>
        <a href="/api/wiki/helpers">Les helpers</a>
    </div>
</div>
